{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'assets/vendor/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/master.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/chartsjs/Chart.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/flagiconcss3/css/flag-icon.min.css' %}" rel="stylesheet">

    <link href="{% static 'assets/vendor/DataTables/datatables.min.css' %}" rel="stylesheet">
</head>


<body>
{% block content %}

{% endblock content %}


    <script src="{% static 'assets/vendor/jquery3/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap4/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/fontawesome5/js/solid.min.js' %}"></script>
    <script src="{% static 'assets/vendor/fontawesome5/js/fontawesome.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/vendor/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'assets/js/initiate-datatables.js' %}"></script>
</body>

</html>