{% extends 'AdminPanel/base.html' %}

{% block title %} Admin Panel {% endblock %}


{% block content %}
<div class="wrapper">
    <nav id="sidebar" class="active">
        <ul class="list-unstyled components text-secondary">
            <li>
                <a href="/"><i class="fas fa-home"></i> Dashboard</a>
            </li>
            <li>
                <a href="{% url 'manage_user' %}"><i class="fas fa-user-friends"></i>Users</a>
            </li>
            <li>
                <a href="{% url 'manage_product' %}"><i class="fas fa-user-friends"></i>Products</a>
            </li>
            <li>
                <a href="{% url 'manage_category' %}"><i class="fas fa-user-friends"></i>Category</a>
            </li>
            <li>
                <a href="{% url 'manage_order' %}"><i class="fas fa-user-friends"></i>Order</a>
            </li>
            <li>
                    <a href="{% url 'order_report' %}" ><i class="fas fa-user-shield"></i>Order Report</a>
            </li>
        </ul>
    </nav>
    <div id="body" class="active">
        <nav class="navbar navbar-expand-lg navbar-white bg-white">
            <button type="button" id="sidebarCollapse" class="btn btn-outline-secondary default-secondary-menu"><i
                    class="fas fa-bars"></i><span></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <div class="nav-dropdown">
                            <a href="" class="nav-item nav-link dropdown-toggle text-secondary"
                               data-toggle="dropdown"><i class="fas fa-user"></i> <span>Admin</span> <i
                                    style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                            <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                                <ul class="nav-list">

                                    <div class="dropdown-divider"></div>
                                    <li><a href="{% url 'admin_logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="icon-big text-center">
                                            <i class="teal fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="detail text-center">
                                            <p>New Orders</p>
                                            <span class="number">{{no_order}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr/>
                                    <div class="stats">
                                        <i class="fas fa-redo-alt"></i> Updated every 30 minutes
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="icon-big text-center">
                                            <i class="olive fas fa-money-bill-alt"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="detail text-center">
                                            <p>Revenue</p>
                                            <span class="number">${{total_revenue}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr/>
                                    <div class="stats">
                                        <i class="fas fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="icon-big text-center">
                                            <i class="violet fas fa-user-alt"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="detail text-center">
                                            <p>Total Users</p>
                                            <span class="number">{{no_users}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr/>
                                    <div class="stats">
                                        <i class="fas fa-stopwatch"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">-->
<!--                        <div class="card">-->
<!--                            <div class="content">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-sm-4">-->
<!--                                        <div class="icon-big text-center">-->
<!--                                            <i class="orange fas fa-envelope"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-8">-->
<!--                                        <div class="detail text-center">-->
<!--                                            <p>Support Request</p>-->
<!--                                            <span class="number">75</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="footer">-->
<!--                                    <hr/>-->
<!--                                    <div class="stats">-->
<!--                                        <i class="fas fa-envelope-open-text"></i> Active in the last 7 days-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="icon-big text-center">
                                            <i class="orange fas fa-truck-moving"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="detail text-center">
                                            <p>Total Products</p>
                                            <span class="number">{{no_product}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr/>
                                    <div class="stats">
                                        <i class="fas fa-envelope-open-text"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



<!------------------------------------------Graphs-------------------------------------------------------------->



                <div class="row">
                        <div class="col-md-6">
                            <canvas id="myChart"></canvas>
                        </div>
                </div>




<!----------------------------------//Graph------------------------------------------------------------------>





<!------------------------------------------------Other-Feature------------------------------------------------->


<!--                <div class="row">-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-3">-->
<!--                        <div class="card">-->
<!--                            <div class="content">-->
<!--                                <div class="row">-->
<!--                                    <div class="dfd text-center">-->
<!--                                        <i class="blue large-icon mb-2 fas fa-thumbs-up"></i>-->
<!--                                        <h4 class="mb-0">+21,900</h4>-->
<!--                                        <p class="text-muted">FACEBOOK PAGE LIKES</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-3">-->
<!--                        <div class="card">-->
<!--                            <div class="content">-->
<!--                                <div class="row">-->
<!--                                    <div class="dfd text-center">-->
<!--                                        <i class="orange large-icon mb-2 fas fa-reply-all"></i>-->
<!--                                        <h4 class="mb-0">+22,566</h4>-->
<!--                                        <p class="text-muted">INSTAGRAM FOLLOWERS</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-3">-->
<!--                        <div class="card">-->
<!--                            <div class="content">-->
<!--                                <div class="row">-->
<!--                                    <div class="dfd text-center">-->
<!--                                        <i class="grey large-icon mb-2 fas fa-envelope"></i>-->
<!--                                        <h4 class="mb-0">+15,566</h4>-->
<!--                                        <p class="text-muted">E-MAIL SUBSCRIBERS</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6 col-md-6 col-lg-3">-->
<!--                        <div class="card">-->
<!--                            <div class="content">-->
<!--                                <div class="row">-->
<!--                                    <div class="dfd text-center">-->
<!--                                        <i class="olive large-icon mb-2 fas fa-dollar-sign"></i>-->
<!--                                        <h4 class="mb-0">+98,601</h4>-->
<!--                                        <p class="text-muted">TOTAL SALES</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!------------------------------------------------Other-Feature------------------------------------------------->

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

<script>

        var totalusers = '{{no_users}}'
        var totalproducts = '{{no_product}}'
        var totalorders = '{{no_order}}'

        let myChart = document.getElementById('myChart').getContext('2d');

        // Global Propeties


        let massPopChart = new Chart(myChart, {
            type: 'doughnut',
            data: {
                labels: ['Total Users', 'Total Orders', 'Total Products'],
                datasets: [{
                    label: 'Population',
                    data: [
                        totalusers,
                        totalorders,
                        totalproducts,
                    ],
                    label: 'Population',
                    backgroundColor: [
                        '#7fffd4',
                        '#00BFFF',
                        '#6495ed',
                    ],
                    borderWidth: 1,
                    borderColor: '#6da252',
                    hoverBorderWidth: 0.1,
                    hoverBorderColor: 'yellow'
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Vicgo',
                    fontSize: 20,
                    fontColor: 'black'
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                        fontColor: 'black',
                    }
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0,
                    }
                },
                tooltips: {
                    mode: 'index',
                    axis: 'X'

                }
            }
        });

</script>

{% endblock content %}
