{% load static %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Update User | Vicgo</title>

    <link href="{% static 'assets/vendor/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/auth.css' %}" rel="stylesheet">

</head>
<body>
    <div class="wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <h6 class="mb-4 text-muted">Update User</h6>
                    <form action="{% url 'edit_user' user.id %}" method="POST">
                        {% csrf_token %}
                         <div class="form-group">
                            <input type="text" class="form-control" name="first_name" placeholder="First Name" value="{{user.first_name}}" required>
                        </div>
                         <div class="form-group">
                            <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{user.last_name}}" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username" value="{{user.username}}" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email" value="{{user.email}}" required>
                        </div>
                        <button class="btn btn-primary shadow-2 mb-4">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/vendor/jquery3/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap4/js/bootstrap.min.js' %}"></script>

</body>
</html>