 {% extends 'User/base.html' %}

{% block title %}
Order
{% endblock %}

{% block content %}

<div class="container p-5">
    <div class="row">
		<div class="col-md-8">
		<div class="box-body" style="overflow-x:auto;">
			<h5>Orders Items</h5>
			<table width="100%" class="table table-hover table-responsive  table-bordered" id="dataTables-example">
				<thead class="thead-dark">
					<tr>
						<th style="text-align: center;">Sl.no</th>
						<th style="text-align: center;">Order ON</th>
						<th style="text-align: center;">Transaction ID</th>
						<th style="text-align: center;">Address</th>
						<th style="text-align: center;">Order Items</th>
						<th style="text-align: center;">Price</th>
						<th style="text-align: center;">Payment Mode</th>
						<th style="text-align: center;">Payment Status</th>
						<th style="text-align: center;">Order Status</th>
						<th style="text-align: center;">Cancel Order</th>
					</tr>
				</thead>
				<tbody>
				{% for tid, item in item_data.items %}
					<tr>
						<td style="color: black;">{{forloop.counter}}</td>
						<td style="color: black;">{{item.date_ordered}}</td>
						<td style="color: black;">{{item.transaction_id}}</td>
						<td style="color: black;">{{item.address.address}},{{item.address.city}},{{item.address.state}}</td>
						<td style="color: black;">
							<button type="button" class="btn btn-primary" onclick="showProducts('{{item.transaction_id}}')" data-toggle="modal" data-target="#exampleModal">
								<a href="{% url 'order_items' %}">View Order Items</a>
							</button>
						</td>
						<td style="color: black;">{{item.total_price}}</td>
						<td style="color: black;">{{item.payment_mode}}</td>
						<td style="color: black;">{{item.payment_status}}</td>
						<td style="color: black;">{{item.order_status}}</td>
						<td style="color: black; text-align: center;"><a href="{% url 'cancel_order_user' item.transaction_id %}">Cancel</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
			<div class="card-header">Cancelled Orders</div>
			<div class="card-body">
			  		<h7 class="card-title"></h7>
			  <p class="card-text">The amount will be returned into the Customers Vicgo Wallet, when the Admin approves the cancel.</p>
			</div>
		  </div>
	</div>
	</div>

	<div class="row">
		<div class="col-md-8">
			<div class="box-body" style="overflow-x:auto;">
				<h5>Cancelled Orders</h5>
				<table width="100%" class="table table-hover table-responsive  table-bordered" id="dataTables-example">
					<thead class="thead-dark">
						<tr>
							<th style="text-align: center;">Sl.no</th>
							<th style="text-align: center;">Transaction ID</th>
							<th style="text-align: center;">Price</th>
							<th style="text-align: center;">Payment Mode</th>
							<th style="text-align: center;">Refund</th>
							<th style="text-align: center;">Order Status</th>
						</tr>
					</thead>
					<tbody>
					{% for tid, item in cancel_order.items %}
						<tr>
							<td style="color: black; text-align: center;">{{forloop.counter}}</td>
							<td style="color: black; text-align: center;">{{item.transaction_id}}</td>
							<td style="color: black; text-align: center;">{{item.total_price}}</td>
							<td style="color: black; text-align: center;">{{item.payment_mode}}</td>
							{% if item.refund == True %}
							<td style="color: green; font-weight: bold; text-align: center;">Refunded</td>
							{% else %}
							<td style="color: red; font-weight: bold; text-align: center;">Pending</td>
							{% endif %}
							<td style="color: black; text-align: center;">{{item.order_status}}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
 {% endblock %}