 {% extends 'User/base.html' %}

{% block title %}
Cart
{% endblock %}

{% block content %}
                        <div class="box-body" style="padding-bottom: 20em;">
                            <table width="100%" class="table table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
										<th style="color: black;">Sl.no</th>
                                        <th style="color: black;">Order ON</th>
                                        <th style="color: black;">Transaction ID</th>
										<th style="color: black;">Address</th>
										<th style="color: black;">Order Items</th>
										<th style="color: black;">Price</th>
										<th style="color: black;">Payment Mode</th>
										<th style="color: black;">Payment Status</th>
										<th style="color: black;">Order Status</th>
                                    </tr>
                                </thead>
                                <tbody>
								{% for tid, item in item_data.items %}
                                    <tr>
										<td style="color: black;">{{forloop.counter}}</td>
                                        <td style="color: black;">{{item.date_ordered}}</td>
                                        <td style="color: black;">{{item.transaction_id}}</td>
										<td style="color: black;">{{item.address.address}},{{item.address.city}},{{item.address.state}}</td>
										<td style="color: black;">
											<button type="button" class="btn btn-primary" onclick="showProducts('{{item.transaction_id}}')" data-toggle="modal" data-target="#exampleModal">
												<a href="{% url 'order_items' %}">View Order Items</a>
										  	</button>
										</td>
										<td style="color: black;">{{item.total_price}}</td>
										<td style="color: black;">{{item.payment_mode}}</td>
										<td style="color: black;">{{item.payment_status}}</td>
										<td style="color: black;">
											{{item.order_status}}
										</td>

                                    </tr>
								{% endfor %}
                                </tbody>
                            </table>
                        </div>
 {% endblock %}