{% extends 'User/base.html' %}

{% block title %}
Payment
{% endblock %}

{% block content %}

<div class="checkout-right">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h4>Order Summary</h4>
        <div class="table-responsive">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>Quantity</th>
                        <th>Product Name</th>

                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in items %}
                    <tr class="rem1">
                        <td class="invert">1</td>
                        <td class="invert">
                            <div class="quantity">
                                <div class="quantity-select">
                                    <div class="entry value">
                                        <span style="color:black;">{{x.quantity}}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="invert">{{x.product.product_name}}</td>
                        <td class="invert">${{x.get_total}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <p style="color:black; font-weight:bold;">Total Amount = ${{total_price}}</p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



    <!----------------------------Deliver-TO-Previosly-USed-Addresses------------------------------>
    <div class="container">
        <div class=""></div>
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="color:black; font-weight:bold;">{{address.address}}</li>
                <li class="list-group-item" style="color:black; font-weight:bold;">{{address.state}}</li>
                <li class="list-group-item" style="color:black; font-weight:bold;">{{address.city}}</li>
                <input type="text" id="address_id" hidden value="{{address.id}}">

                <a>Delivery Address</a>
            </ul>
        </div>
    </div>
    <!----------------------------//Deliver-TO-Previosly-USed-Addresses------------------------------>

    <div class="container">

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p style="color:black">Payment Method :</p>

    <form>
        <div class="row">
                <div class="col-md-12">
                    <div style="display: flex;">
                        <input type="radio" id="cod" name="mode" value="COD" required>
                        <label for="cod">COD</label><br>
                        <input type="radio" id="paypal" name="mode" value="Paypal" required>
                        <label for="Paypal">Paypal</label><br>
                        <input type="radio" id="razorpay" name="mode" value="Razorpay" required>
                        <label for="razorpay">RazorPay</label><br>
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        <input style="width: 30vw;" id="order" type="button" value="Place Order" class="btn button2 ">
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="paypal-button-container"></div>
                </div>
            <input type="hidden" custom='Hidden Element' name="hidden">
        </div>
    </form>


</div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script
        src="https://www.paypal.com/sdk/js?client-id=AZ-zxKIWEzxYNP6RHnvei07eMWgRneZlEtCTRKXVnMBYSkZISPFsw0Y8WwftjBOb6n0BLn1x9mvFYN4X&currency=USD"
        data-namespace="paypal_sdk"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script>
        // Render the PayPal button into #paypal-button-container
        function paypal(tid) {
            paypal_sdk.Buttons({

                // Set up the transaction
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: '{{total_price}}'
                            }
                        }]
                    });
                },

                // Finalize the transaction
                onApprove: function (data, actions) {
                    return actions.order.capture().then(function (details) {
                        // Show a success message to the buyer
                        console.log(details);

                        alert('Transaction completed by ' + details.payer.name.given_name + '!');
                        successpaypal(tid)

                    });
                }


            }).render('#paypal-button-container');

        }

        function successpaypal(tid) {
            var userData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                tid: tid,
                id: $('#address_id').val()

            }
            $.ajax({
                url: '/success-paypal/',
                type: "POST",
                data: userData,
                dataType: "json",
                success: function (data) {
                    if (data == 'success') {
                        window.location.replace("/")
                    }
                }
            });
        }

        var amount = 0
        $('#order').click(function () {
            let id = $('#address_id').val()
            console.log(id)
            var userData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                mode: $("input[name='mode']:checked").val()

            }

            $.ajax({
                url: '/user-payment/' + id,
                type: "POST",
                data: userData,
                dataType: "json",
                success: function (data) {
                    if (data.mode == 'COD'){
                        alert('Order Placed ..!!!')
                        window.location.replace("/")}
                    else if (data.mode == 'Paypal') {
                        console.log(data)
                        $('#order').hide()
                        $('#paypal-button-container').show()
                        paypal(data.tid)
                    }
                    else if (data.mode == 'Razorpay') {
                        console.log(data.mode)
                        tid = data.tid
                        $('#order').hide()
                        // $('.razorpay-payment-button').click()
                        razorpay(tid)
                        amount = data.amount
                    }

                }
            });


        });
        function razorpay(tid) {
            console.log(tid)
            // var tid =tid
            var total = '{{total_price}}'*7000
            var payment_status = 'razorpay'
            var options = {
                "key": "rzp_test_U3zNUwvRlxDktr", // Enter the Key ID generated from the Dashboard
                "amount": total, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Blvck Paris",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                 //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    console.log(tid)
                   success_razorpay(tid)
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9999999999"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#F37254"
                }
            };
            var rzp1 = new Razorpay(options);
            // document.getElementById('rzp-button1').onclick = function (e) {
            rzp1.open();
            //     e.preventDefault();
            // }

        }

            function success_razorpay(tid) {
            var userData = {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                tid: tid,
                id: $('#address_id').val()

            }
            $.ajax({
                url: '/success-razorpay/',
                type: "POST",
                data: userData,
                dataType: "json",
                success: function (data) {
                    if (data == 'success') {
                        alert('Payment success.. Order Placed!!!')
                        window.location.replace("/")
                    }
                }
            });
        }

    </script>

{% endblock %}